[user]
	name = KayceeNguyen
	email = 91505214+KayceeNguyen@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
